@{
    ViewData["Title"] = "ShoppingList Details";
}
@model AwesomeApp.Web.ViewModels.ShoppingListViewModel
<h2>ShoppingList (MVC View)</h2>

<h3>Name: @Model.Name</h3>

<b>Items:</b>

<ul>
    @foreach (var item in Model.Items)
    {
        <li>@item.Title<br />@item.Description</li>
    }
</ul>
