@{
    ViewData["Title"] = "ShoppingList Details";
}
@model AwesomeApp.Web.ViewModels.ShoppingListViewModel
<h2>@Model.Name</h2>

<b>Items:</b>

<ul>
    @foreach (var item in Model.Items)
    {
        <li>@item.Title<br />@item.Description</li>
    }
</ul>
