@{
    ViewData["Title"] = "Awesome App";
}
@model AwesomeApp.Web.ViewModels.ShoppingListsViewModel

<div class="row">
    <h2>Shopping Lists</h2>
    <ul>
        @foreach (var list in Model.ShoppingLists)
        {
            <li><a asp-area="" asp-controller="ShoppingList" asp-action="Index" asp-route-projectId="@list.Id">@list.Name</a></li>
        }

    </ul>
</div>
